config:
  credentials: []
  project_repos:
    github.com/ARGOeu/argo-monitoring:
      branch: master
      repo: https://github.com/ARGOeu/argo-monitoring.git
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: main
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/ARGOeu/argo-monitoring git:
        commands:
        - /usr/bin/env sh .sqa/script.thirsty-zucchini-serval.sh
        container: qc.acc_surly-maroon-seahorse
  QC.Doc:
    repos:
      github.com/ARGOeu/argo-monitoring find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.blurry-teal-badger.sh
        container: qc.doc_muzzy-rose-avocet
      github.com/ARGOeu/argo-monitoring git:
        commands:
        - /usr/bin/env sh .sqa/script.muggy-mauve-otter.sh
        container: qc.doc_gummy-platinum-dachsbracke
      github.com/ARGOeu/argo-monitoring markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.frumpy-aquamarine-frise.sh
        container: qc.doc_squirrely-apricot-cow
  QC.Lic:
    repos:
      github.com/ARGOeu/argo-monitoring licensee:
        commands:
        - /usr/bin/env sh .sqa/script.woolly-amethyst-olm.sh
        container: qc.lic_zippy-lime-tzu
  QC.Sty:
    repos:
      github.com/ARGOeu/argo-monitoring jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.clammy-gamboge-russel.sh
        container: qc.sty_frumpy-thistle-beagle
  QC.Ver:
    repos:
      github.com/ARGOeu/argo-monitoring get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.wimpy-turquoise-coyote.sh
        container: qc.ver_cozy-seashell-spaniel
timeout: 5400
